@import url(https://fonts.googleapis.com/css2?family=Lobster&family=Varela+Round&display=swap);
@font-face {
  font-family: "GoodUnicorn";
  src: url("../font/GoodUnicornRegular-Rxev.ttf") format("truetype");
}
@font-face {
  font-family: "Playkidz";
  src: url("../font/Playkidz-YzXq2.otf") format("opentype");
}

:root {
  --merah-muda: #f37368;
  --merah-pudar: #f5aaa4;
  --biru-pudar: #bcd7ea;
  --biru-muda: #84bfeb;
  --biru-air: #3b8fc8;
  --toska: #55c1c4;
  --kuning-muda: #feda62;
  --coklat-muda: #b38962;
  --hijau-muda: #72b362;
}

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: white;
  font-family: "Varela Round", sans-serif;
}
/* stylist */
.kotak-lengkung-1 {
  border-radius: 1rem;
}
.kotak-lengkung-2 {
  border-radius: 2rem;
}
.kotak-lengkung-3 {
  border-radius: 3rem;
}
.text-putih {
  color: #fff;
}
.text-kuning-muda {
  color: var(--kuning-muda);
}
.text-shadow-hitam {
  text-shadow: 0px 1px 5px #000;
}
.content {
  min-height: 100vh;
  padding-top: 6rem;
}
.title-section {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 1rem !important;
  font-family: "Playkidz";
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}
.title-section svg {
  width: 60vw;
}
@media (min-width: 992px) {
  .title-section svg {
    width: 38vw;
  }
}
.breadcrumb-item {
  font-size: 18px;
  font-weight: 600;
}
.breadcrumb-item a {
  color: #fff !important;
  text-decoration: none;
}
.breadcrumb-item a:hover {
  color: #ddd !important;
  text-decoration: underline;
}
.breadcrumb-item::before {
  color: var(--biru-pudar) !important;
  font-weight: 600;
}
.breadcrumb-item.active {
  color: var(--biru-pudar) !important;
}

/* navbar */
#header {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.bg-merah {
  background-color: var(--merah-muda);
}
.bg-toska {
  background-color: var(--toska);
}
.navbar-collapse {
  margin-top: 10px;
}
@media (min-width: 992px) {
  .navbar-collapse {
    margin-top: 0px;
  }
}
.navbar-brand {
  font-size: 32px;
  font-weight: 600;
  font-family: "Lobster", sans-serif;
  padding: 0;
}
.nav-link {
  font-size: 16px;
  font-weight: 600;
  color: #fff !important;
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}
.nav-link.active {
  background-color: var(--kuning-muda);
  color: #555 !important;
}
.nav-link.disabled {
  color: rgba(255, 255, 255, 0.25) !important;
}
.nav-link:hover {
  background-color: #eee;
  color: #000 !important;
}
@media (min-width: 992px) {
  .nav-link {
    border-radius: 1rem;
  }
  .nav-link.active {
    border-radius: 1rem;
  }
  .nav-link:hover {
    border-radius: 1rem;
  }
}

.dropdown-menu {
  border: 0;
}
.dropdown-menu li a {
  color: #fff;
  font-weight: 600;
}
.dropdown-menu[data-bs-popper] {
  top: 135%;
  right: 0;
  left: auto !important;
}

@media screen and (min-width: 992px) {
  .dropdown-menu li {
    text-align: end;
  }
}

/* TopMenu */
#top {
  /* background: linear-gradient(to bottom, var(--biru-pudar) 30%, #fff 100%); */
  background-color: var(--biru-pudar);
}
#title-utama {
  font-family: "Playkidz";
  color: #555;
  padding-top: 5rem;
}

/* FirstMenu */
#first {
  background-color: var(--hijau-muda);
  color: #fff;
}
#domba1 {
  position: absolute;
  top: 125%;
  left: 22%;
}
#domba2 {
  position: absolute;
  top: 127%;
  left: 10%;
}

#domba3 {
  position: absolute;
  top: 118%;
  left: 14%;
}

#domba4 {
  position: absolute;
  top: 125%;
  right: 20%;
  transform: scaleX(-1);
}

#domba5 {
  position: absolute;
  top: 118%;
  right: 16%;
  transform: scaleX(-1);
}

/* SecondMenu */
#second {
  background-color: var(--biru-air);
  color: #fff;
}
#tepi {
  position: absolute;
  width: 100%;
  height: 6rem;
  background-color: var(--hijau-muda);
  display: flex;
  justify-content: center;
}
#tepi-tanah {
  width: 100%;
  height: 100%;
  border-radius: 70% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--coklat-muda);
}
#tepi-air {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--biru-air);
}

/* ThirdMenu */
#third {
  /* background-color: var(--hijau-muda); */
  background-color: var(--coklat-muda);
  color: #fff;
}
#tepiBawah {
  position: absolute;
  bottom: 600;
  width: 100%;
  height: 6rem;
  background-color: var(--hijau-muda);
  display: flex;
  justify-content: center;
}
#tepi-tanah2 {
  width: 100%;
  height: 100%;
  border-radius: 70% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: var(--coklat-muda);
}
#tepi-air2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70%;
  border-radius: 50% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: var(--biru-air);
}

/* Beranda2 */
#danauAtas {
  position: absolute;
  width: 100%;
  padding-top: 20vh;
  background-color: var(--biru-pudar);
}
#dombaDanau1 {
  position: absolute;
  top: 82%;
  left: 22%;
}
#isi {
  background-color: var(--hijau-muda);
  color: #fff;
}
#panel-isi {
  background-color: var(--coklat-muda);
  min-height: 100vh;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-top: 1rem;
}
